.container{
    box-align: center;
    border-radius:30px;

}
body{
    background-color: rgb(160, 158, 163);
    text-align: center;
}
fieldset{
    border-radius:50px;
    background-color: white;
}
input{
    width: 200px;
    border-radius:25px ;
    padding: 15px;
    background-color: rgb(73, 72, 73);

}

h1{
    color:rgb(14, 14, 14);
}

button{
    color: #838082;
    background-color:rgb(79, 77, 79);
    padding: 10px 40px;
    font-size: 20px;
}
ul{
    list-style-type: none;
    margin: 2;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(64, 90, 97, 0.829);
   }
  
   li{
    float: left;
   }
  
   li a{
    margin-left: 245px;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 20px;
   }